<% include ./partials/header %>
    <div id="cover">
        <div id="header">
            <h1>Food Recipes</h1>
            <p> A place to find a new recipe or publish you own tasty recipes</p>
            <a class="btn btn-warning" href="/foodRecipes">Explore Here</a>
        </div>
    </div>
<% include ./partials/footer %>